#menu
{
    background-color: #202225;
    border-radius: 15px;
}

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 15px;
}

#menu ul li
{
    display: inline-block;
}

#menu ul li a img
{
    border: 5px solid transparent;
    transition-duration: 0.15;
}
#menu ul li a img:hover
{
    border: 5px solid #FFFFFF40;
}